@model List<Web_AMO_MVC.Models.VIDEO>

<div style="height:35px;line-height:35px;margin-bottom:2%; color:#fff;font-weight:bold;background:#1496C5;margin-top:3%">
    &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-tasks"></span><label>  &nbsp;&nbsp;&nbsp; Video cùng Album </label>
</div>

<div class="row">
    @if (Model != null)
    {
        if (Model.Count > 0)
        {
            foreach (var videocungalbum in Model)
            {
                <div class="col-sm-3 col-xs-6">
                    <iframe style="width:100%;" src="@videocungalbum.LinkVideo" frameborder="0" allowfullscreen></iframe><br />
                    <span style="font-weight:bold;font-size:20px"><a style="color:#096be2" href="/Video/ChiTiet/@videocungalbum.IdVideo">@videocungalbum.TenVideo</a></span>
                    <br />
                </div>
            }
        }
        else
        {
            <div class="col-sm-12 col-xs-12">
                <span>Không có video nào cùng album</span>
            </div>
        }
    }
</div>
<br>
