
@{
    ViewBag.Title = "Website Đài Khí tượng Cao không";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <p style="font-size:26px;text-align:center;font-weight:bold;color:#0094ff; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Trang Quản Trị Website Đài Khí Tượng Cao Không</p>
    <img class="img-responsive" style="width:100%; height:auto" src="http://chuyentrang.monre.gov.vn/upload/11600/20151229/grab1451359316DSC_5422_20resize.jpg" />
</div>