
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="well-sm" style="border:1px solid #d5d5d5; margin-bottom:1%;border-radius:unset">
    <a href="/">Trang chủ</a> >> <a href="/gioi-thieu">Giới thiệu</a>
</div>
<br />
<div style="text-align:justify;">
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="font-weight:bold;">Trung tâm Dự báo khí tượng thuỷ văn Trung ương (Trung tâm DB KTTV TW - National Centre for Hydrometeorological Forecasting - NCHMF)</span> là đơn vị trực thuộc Trung tâm Khí tượng Thuỷ văn quốc gia (Tổng cục Khí tượng Thuỷ văn trước đây), Bộ Tài nguyên và Môi trường.</p>
    <p>
        <span style="font-weight:bold;">Trung tâm Dự báo khí tượng thuỷ văn Trung ương</span> được thành lập theo quyết định 15/2002/QĐ-BTNMT ngày 09 tháng 01 năm 2003 của Bộ trưởng Bộ Tài nguyên và Môi trường. Nhiệm vụ, quyền hạn và cơ cấu tổ chức của Trung tâm Dự báo khí tượng thủy văn Trung ương quy định tại Quyết định số 159 /QĐ-KTTVQG ngày 11 tháng 4 năm 2014 của Tổng giám đốc Trung tâm Khí tượng Thủy văn quốc gia.
</p>
    <p>
        <span style="font-weight:bold;"> Nội dung Quyết định số 159 /QĐ-KTTVQG ngày 11 tháng 4 năm 2014 của Tổng giám đốc Trung tâm Khí tượng Thủy văn quốc gia:</span>
</p>
    <p>
        Trung tâm Dự báo khí tượng thuỷ văn Trung ương (sau đây gọi tắt là Trung tâm) là tổ chức sự nghiệp công lập trực thuộc Trung tâm Khí tượng Thuỷ văn quốc gia, Bộ Tài nguyên và Môi trường, có chức năng tổ chức thực hiện công tác dự báo khí tượng, khí hậu, thủy văn, khí tượng thủy văn biển (sau đây gọi chung là khí tượng thủy văn), đánh giá xu thế biến đổi khí hậu phục vụ phòng, chống thiên tai, phát triển kinh tế - xã hội, đảm bảo an ninh, quốc phòng trên phạm vi cả nước; tổ chức thực hiện các dịch vụ công khác theo quy định của pháp luật.
    </p>
    <p>
        Trung tâm là đơn vị dự toán cấp III, có tư cách pháp nhân, con dấu, tài khoản riêng theo quy định của pháp luật; trụ sở tại thành phố Hà Nội.
    </p>
    <p>
        <span style="font-weight:bold;">Nhiệm vụ chủ yếu của Trung tâm Dự báo khí tượng thủy văn Trung ương</span>
</p>
    <p>1. Xây dựng chiến lược phát triển, quy hoạch, chương trình, kế hoạch dài hạn, năm năm, hàng năm, các đề án, dự án về dự báo khí tượng thuỷ văn, xu thế biến đổi khí hậu và triển khai thực hiện sau khi được phê duyệt.</p>
    <p>2. Chủ trì xây dựng quy trình, quy chuẩn, định mức kinh tế kỹ - thuật về dự báo khí tượng thuỷ văn và tổ chức thực hiện sau khi được phê duyệt.</p>
    <p>3. Tham gia xây dựng văn bản pháp luật, tiêu chuẩn, quy chuẩn, định mức kinh tế - kỹ thuật về khí tượng thủy văn, phòng chống thiên tai, giám sát biến đổi khí hậu.</p>
    <p>4. Theo dõi, tổng hợp và báo cáo với lãnh đạo các cấp có thẩm quyền về tình hình khí tượng thủy văn và xu thế biến đổi khí hậu, đặc biệt là bão, áp thấp nhiệt đới, dông sét, lũ, lụt, triều cường và các hiện tượng khí tượng thủy văn nguy hiểm khác.</p>
    <p>5. Thực hiện nghiệp vụ dự báo khí tượng thuỷ văn; phát các bản tin cảnh báo, dự báo, thông báo khí tượng thuỷ văn theo quy định phục vụ phòng, chống thiên tai, phát triển kinh tế - xã hội và đảm bảo an ninh, quốc phòng.</p>
    <p>6. Chỉ đạo, hướng dẫn chuyên môn nghiệp vụ; kiểm tra, giám sát nghiệp vụ dự báo khí tượng thủy văn; đánh giá chất lượng dự báo khí tượng thủy văn đối với các Đài Khí tượng Thuỷ văn khu vực.</p>
    <p>7. Tham gia xây dựng, quản lý, khai thác hệ thống trao đổi thông tin dữ liệu khí tượng thuỷ văn để đáp ứng yêu cầu công tác dự báo và đánh giá xu thế biến đổi khí hậu trên phạm vi cả nước.</p>
    <p>8. Thực hiện các hoạt động nghiên cứu, ứng dụng, phát triển khoa học công nghệ dự báo khí tượng thuỷ văn, đánh giá xu thế biến đổi khí hậu.</p>
    <p>9. Tổ chức cung cấp, khai thác các dịch vụ về dự báo khí tượng thuỷ văn và môi trường, biến đổi khí hậu; cung cấp thông tin dữ liệu khí tượng, khí hậu, thủy văn, khí tượng thủy văn biển cho các cơ quan, tổ chức và cá nhân theo quy định của pháp luật.</p>
    <p>10. Đề xuất, tổ chức thực hiện công tác đào tạo, bồi dưỡng nghiệp vụ dự báo khí tượng thuỷ văn theo sự phân công của Tổng giám đốc Trung tâm Khí tượng Thủy văn quốc gia.</p>
    <p>11. Tham gia các hoạt động hợp tác quốc tế đa phương, song phương và tổ chức thực hiện các chương trình, dự án hợp tác quốc tế về dự báo khí tượng thuỷ văn, biến đổi khí hậu và các lĩnh vực có liên quan theo sự phân công của Tổng giám đốc Trung tâm Khí tượng Thuỷ văn quốc gia.</p>
    <p>12. Tham gia công tác tuyên truyền, phổ biến kiến thức về khí tượng thủy văn, biến đổi khí hậu nhằm nâng cao ý thức cộng đồng về phòng, chống và giảm nhẹ thiệt hại do thiên tai theo sự phân công của Tổng giám đốc Trung tâm Khí tượng Thuỷ văn quốc gia.</p>
    <p>13. Thực hiện công tác phòng, chống tham nhũng, thực hành tiết kiệm, chống lãng phí; giải quyết khiếu nại, tố cáo, kiến nghị của viên chức và người lao động theo quy định.</p>
    <p>14. Thực hiện cải cách hành chính theo chương trình, kế hoạch cải cách hành chính của Trung tâm Khí tượng Thủy văn quốc gia.</p>
    <p>15. Quản lý tổ chức, biên chế; bổ nhiệm, bổ nhiệm lại, điều động, luân chuyển, miễn nhiệm, từ chức, biệt phái, nghỉ hưu, thôi việc; thực hiện chế độ tiền lương và các chính sách, chế độ đãi ngộ, thi đua khen thưởng; bồi dưỡng chuyên môn nghiệp vụ đối với viên chức, người lao động thuộc Trung tâm theo quy định của pháp luật và theo phân cấp của Trung tâm Khí tượng Thuỷ văn quốc gia.</p>
    <p>16. Quản lý tài chính, tài sản được giao theo quy định của pháp luật và theo phân cấp của Trung tâm Khí tượng Thuỷ văn quốc gia.</p>
    <p>17. Thống kê, báo cáo định kỳ và đột xuất tình hình thực hiện nhiệm vụ về các lĩnh vực công tác được giao.
    <p>
        18. Thực hiện các nhiệm vụ khác do Tổng giám đốc Trung tâm Khí tượng Thuỷ văn quốc gia giao và theo quy định của pháp luật.
    </p>
</div>
<br />
